*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    grid-template-rows:10% auto 10%;
    grid-template-areas: "logo logo logo nav nav nav nav nav nav nav"
     " side cont cont cont cont cont cont cont cont cont"
     "foot foot foot foot foot foot foot foot foot foot";
    height: 100vh;
}
:root{
    --bg-color:#4B847D;
    --second-color:#DAC2A8;
    --text-color:#E6E6E6;
    --third-color:#BD9263;
}
h1{
    grid-area: logo;
    background-color: var(--second-color);
    font-size: 2rem;
}
h1 a{
    color: var(--bg-color);
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: var(--second-color);
    flex-wrap: wrap; 
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    
    font-size: 1.5rem;
}
li a{
    text-decoration: none;
    padding-left:10px ;
    color: #4B847D;
}
aside{
    grid-area: side;
    background-color: var(--bg-color);
    border-right: 6px solid #DAC2A8;
}
.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
} 
.social-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 2rem;
height: 2rem;
background: transparent;
font-size: 2rem;
color: var(--second-color);
margin: 3rem 1.5rem 3rem 0;
transition: .5s ease;
}
.social-media a:hover{
background-color: var(--main-color);
color: var(--snd-bf-color);
box-shadow: 0 0 1rem var(--main-color);
}
section{
    grid-area: cont;
    background-color: var(--bg-color);
}

footer{
    grid-area: foot;
    background-color: var(--second-color);
    text-align: center;
    color: #4B847D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}

.open .layer{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-origin: top;
     animation:  open 1s ease-in-out forwards;
}
.open .layer:nth-child(1){
    background-color: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background-color: #285e57;
    z-index: 1;
    animation-delay: 1s;
}



@keyframes floatIamge{
    0%{
       transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}