*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    grid-template-rows:10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
     " cont cont cont cont cont cont cont cont cont cont"
     "foot foot foot foot foot foot foot foot foot foot";
    height: 100vh;
}
:root{
    --bg-color:#4B847D;
    --second-color:#DAC2A8;
    --text-color:#E6E6E6;
    --third-color:#BD9263;
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--second-color);
    align-items: center;
}
h1{
    grid-area: logo;
    background-color: var(--second-color);
    font-size: 2rem;
}
h1 a{
    color: var(--bg-color);
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: var(--second-color);
    flex-wrap: wrap; 
    visibility: hidden;
   
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    
    font-size: 1.5rem;
}
li a{
    text-decoration: none;
    padding-left:10px ;
    color: #4B847D;
}
section{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    grid-area: cont;
    background-color: var(--bg-color);
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* background-color: var(--second-color); */
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.6s ease;
}
.card:hover{
    transform: translateY(-20px);
}
.heading{
    padding-top: 10px;
    background-color: var(--bg-color);
    color: var(--second-color);

}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color:var(--second-color); */
    width: 50%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.card img{
    width: 90%;
    padding-bottom: 10px;
    border-radius: 5px;
}
footer{
    grid-area: foot;
    background-color: var(--second-color);
    text-align: center;
    color: #4B847D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}

.open .layer{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-origin: top;
     animation:  open 1s ease-in-out forwards;
}
.open .layer:nth-child(1){
    background-color: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background-color: #285e57;
    z-index: 1;
    animation-delay: 1s;
}

@media (min-width: 768px){
    nav{
        visibility: visible;
    }
}
@media (min-width: 1024px){
    section{
        width: 100%;
    }
    nav{
        visibility: visible;
    }
    .card-container{
        flex-direction: row;
        width: 100%;
    }

    .card{
        width: 60%;
    }
}
@keyframes floatIamge{
    0%{
       transform: translateY(0);
    }
    50%{
        transform: translateY(-2rem);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}