*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    grid-template-rows:10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
     " cont cont cont cont cont cont cont cont cont cont"
     "foot foot foot foot foot foot foot foot foot foot";
    height: 100vh;
}
:root{
    --bg-color:#4B847D;
    --second-color:#DAC2A8;
    --text-color:#E6E6E6;
    --third-color:#BD9263;
}
.header{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: header;
}
.logo{
    color: var(--bg-color);
    font-size: 2rem;
}
.navbar{
    display: none;
    grid-area: nav;
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    
    font-size: 1.5rem;
}
li a{
    text-decoration: none;
    padding-left:10px ;
    color: #4B847D;
}
.conatiner{
    grid-area: cont;
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4B847D;
}

 img{
    width: 100%;
}

.Form-contact{
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 0;
}

.contact-btn{
    align-self: center;
    width: 50%;
    border-radius: 10px;
    background-color: var(--second-color);
    height: 25%;
    color: #4B847D;
    font-size: 1.5rem;
    font-weight: bold;
}

input{
    border: none;
    height: 50px;
    border-radius: 10px;
}
input::placeholder{
    color: var(--bg-color);
    padding-left: 15px;
}
textarea{
    border-radius: 10px;
}
textarea::placeholder{
    color: var(--bg-color);
    padding-left: 15px;
    padding-top: 10px;
}
h2{
    font-size: 2rem;
    color: var(--second-color);
}

.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}

.open .layer{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-origin: top;
     animation:  open 1s ease-in-out forwards;
}
.open .layer:nth-child(1){
    background-color: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background-color: #285e57;
    z-index: 1;
    animation-delay: 1s;
}
footer{
    grid-area: foot;
    background-color: var(--second-color);
    text-align: center;
    color: #4B847D;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
} 
@media (min-width: 600px){
    .conatiner{
        grid-area: cont;
        width: 100%;
        height: 200vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #4B847D;
    }
    img{
        width: 90%;
    }
    .Form-contact{
        display: flex;
        justify-content: center;
        background-color: var(--bg-color);
    }
}

@media (min-width: 801px){
    .navbar{
        display: block;
        grid-area: nav;
    }
    .navbar a{
        text-decoration: none;
        color: var(--bg-color);
        font-size: 1.5rem;
    }
     img{
        width: 50%;
    }
    .Form-contact{
        display: flex;
        justify-content: center;
        background-color: var(--bg-color);
        width: 40%;
    }
    .conatiner{
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 100vh;
    }
}
@media (min-width: 1025px){
    .conatiner{
        align-items: center;
        height: 100vh;
    }
    .Form-contact{
        width: 25%;
    }
}