/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    grid-template-rows:10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
     " cont cont cont cont cont cont cont cont cont cont"
     "foot foot foot foot foot foot foot foot foot foot";
    height: 100vh;
}
:root{
    --bg-color:#4B847D;
    --second-color:#DAC2A8;
    --text-color:#E6E6E6;
    --third-color:#BD9263;
}
.header{
    background-color: var(--second-color);
    grid-area: header ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    grid-area: logo;
    background-color: var(--second-color);
    font-size: 2rem;
}
h1 a{
    color: var(--bg-color);
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: var(--second-color);
    flex-wrap: wrap; 
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    color: var(--bg-color);
    font-size: 1.5rem;
}
li a{
    text-decoration: none;
    padding-left:10px ;
}
section{
    grid-area: cont;
    background-color: var(--bg-color);
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
.cards{
    margin-top: 10px ;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card{
    display: flex;
    width: 30%;
    height: min-content;
    border: 5px solid #DAC2A8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DAC2A8;
    overflow: hidden;
}
/* .card::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 480px;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
.card::after{
    content: '';
    position: absolute;
    inset: 4s; */
/* } */
/* .card video{
    width: 60%;
    height: 100%;
}

.card h2{
    color: #4B847D;
    font-size:1.7rem ;
    text-align: center;
}
.card p{
    color: #17685e;
    font-size: 1rem;
    text-align: center;
}
.text{
   text-align: center;

}
footer{
    grid-area: foot;
    background-color: var(--second-color);
    text-align: center;
    color: #4B847D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
}

.open .layer{
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transform-origin: top;
     animation:  open 1s ease-in-out forwards;
}
.open .layer:nth-child(1){
    background-color: #000;
    z-index: 2;
}
.open .layer:nth-child(2){
    background-color: #285e57;
    z-index: 1;
    animation-delay: 1s;
}
@media(min-width:375px){
 
    nav{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@keyframes open{
    0%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}
@keyframes animate{
    0%{
       transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
     }
} */
/* @media (max-width: 430px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 98%;
        height: 25%;
    }
    .card h2{
        font-size: 2rem;
    }
    .card p{
        font-size: 1.4rem;
    }
}
/* @media (max-width: 853px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 80%;
    }
    .card h2{
        font-size: 4.5rem;
    }
    .card p{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    } */
/* } */

/* @media (min-width: 768px){
    .card{
        width: 60%;
    }
    .header h1{
        font-size: 1.7rem;
    }
    .header ul li{ 
        font-size: 1.2rem;
    }
}
@media (min-width: 540px){
    .card{
        width: 50%;
    }
    .header h1{
        font-size: 1.5rem;
    }
    .header ul li{ 
        font-size: 1rem;
    }
}
@media (max-width: 280px){
    .header{
        display: flex;
        justify-content: 0center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 98%;
        height: 25%;
    }
    .card h2{
        font-size: 2.5rem;
    }
    .card p{
        font-size: 1rem;
    }
    footer{
        font-size: 1rem;
    }
} */ 
/* @media (max-width: 412px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 98%;
    }
}
@media(min-width:900px){
    nav{
        display: flex;
    }
}
@media (min-width:360px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 98%;
    }
}
@media (min-width:768px){
    .card{
        width: 90%;
    }
    .card h2{
        font-size: 2.8rem;
    }
    .card p{
        font-size: 2rem;
    }
    footer{
        font-size: 2rem;
    }
}
@media (min-width:280px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav{
        display: none;
    }
    .card{
        width: 98%;
    } */
/* } */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:  repeat(10,1fr);
    grid-template-rows:10% auto 10%;
    grid-template-areas: "header header header header header header header header header header"
     " cont cont cont cont cont cont cont cont cont cont"
     "foot foot foot foot foot foot foot foot foot foot";
    height: 100vh;
}
:root{
    --bg-color:#4B847D;
    --second-color:#DAC2A8;
    --text-color:#E6E6E6;
    --third-color:#BD9263;
}
.header{
    background-color: var(--second-color);
    grid-area: header ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    grid-area: logo;
    background-color: var(--second-color);
    font-size: 2rem;
}
h1 a{
    color: var(--bg-color);
    text-decoration: none;
}
nav{
    display: none;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: var(--second-color);
    flex-wrap: wrap;  */
}
ul{
    list-style: none;
}
li{
    display: inline-flex;
    color: var(--bg-color);
    font-size: 1.5rem;
}
li a{
    text-decoration: none;
    padding-left:10px ;
}

section{
    grid-area: cont;
    background-color: var(--bg-color);
}
/* .main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
} */
.cards{
    margin-top: 10px ;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}

.card{
    display: flex;
    height: 50vh;
    height: min-content;
    border: 5px solid #DAC2A8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DAC2A8;
    overflow: hidden;
    width: 90%;
    
}

.card video ,img{
    width: 89%;
    height: 35vh;
}
footer{
    grid-area: foot;
    background-color: var(--second-color);
    text-align: center;
    color: #4B847D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h2{
    color: #4B847D;
    font-size:1.7rem ;
    text-align: center;
}
.card p{
    color: #17685e;
    font-size: 1rem;
    text-align: center;
}
.text{
   text-align: center;

}



@media (min-width:768px){
  h1{
    font-size: 2.5rem;
  }
  footer{
    font-size: 2rem;
  }
}

@media (min-width:820px){
    h1{
      font-size: 3rem;
    }
    footer{
      font-size: 2.5rem;
    }
    .card h2{
        font-size: 3rem;
    }
    .card p{
        font-size: 2.5rem;
    }
  }

  @media (min-width:1024px){
    h1{
      font-size: 2rem;
    }
    nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: var(--second-color);
    flex-wrap: wrap;
    }

    .cards{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: row;
    }
    .card{
        width: 25%;
    }
    footer{
      font-size: 2.5rem;
    }
    .card h2{
        font-size: 1.5rem;
    }
    .card p{
        font-size: 1rem;
    }
  }

